.btn {
  display: inline-flex;
  padding: var(--sp-18) var(--sp-24);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  line-height: 1;
  user-select: none;
  border-radius: var(--radius-xl);
  color: var(--Paragraph-Paragraph-1, #000);
  text-align: center;
  font-family: "Times New Roman";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  letter-spacing: -0.36px;


  /* Variants */
  &--primary {
    background: var(--color-accent);
    color: var(--color-para-2);
    transition: 0.2s ease-in-out;
    

    &:hover {
      background: var(--color-background-3);
      
    }
  }

  &--white {
    background: var(--color-para-2);
    transition: 0.2s ease-in-out;

      &:hover {
        background: var(--color-background-1);

      
    }
  }

  

  @media (max-width: 600px) {
    &--primary,
    &--white,
    &--black-outline,
    &--white-outline {
      padding: var(--sp-18) var(--sp-24);
      font-size: 18px;
      gap: var(--sp-16);
      border-radius: var(--radius-xl);
    }

 

  }

}

