.header-spacing {
  padding: var(--sp-20) var(--sp-100);
}

.primary-spacing {
  padding: var(--sp-100) var(--sp-100);
}

.secondary-spacing {
  padding: var(--sp-106) var(--sp-150) var(--sp-220) var(--sp-150);
}
 
.section-sp-1 {
  padding: var(--sp-60) var(--sp-152);
}
.section-sp-2{
  padding: var(--sp-93) var(--sp-150) var(--sp-143) var(--sp-150);
}
.section-sp-3{
  padding: var(--sp-100) var(--sp-100) var(--sp-60) var(--sp-100);
}
.footer-spacing {
  padding: var(--sp-100) var(--sp-100) var(--sp-32) var(--sp-100);
}

.section-sp-top {
  padding: var(--sp-126) 0 0 0;
}

.section-sp-bottom {
  padding: 0 0 var(--sp-126) 0;
}
.metric-spacing{
  padding: var(--sp-96) var(--sp-160);
}
.main-box{
  padding: 100px;
}
@media (max-width: 850px) {
  .header-spacing {
    padding: var(--sp-20) var(--sp-40);
  }

  .primary-spacing {
    padding: var(--sp-116) var(--sp-84);
  }
  .section-sp-1 {
    padding: var(--sp-126) var(--sp-64);
  }
  .section-sp-2{
    padding: var(--sp-97) var(--64) var(--sp-126) var(--sp-64);
  }
  .footer-spacing {
    padding: var(--sp-100) var(--sp-64) var(--sp-32) var(--sp-64);
  }

  .hero-spacing {
    padding: var(--sp-56) var(--sp-40) 0 var(--sp-40);
  }
  .secondary-spacing {
    padding: 0 var(--sp-64) var(--sp-114) var(--sp-64);
  }
  .primary-spacing {
    padding: var(--sp-116) var(--sp-84);
  }
  .metric-spacing{
    padding: var(--sp-96) var(--sp-64);
  }
}

@media (max-width: 600px) {
  .primary-spacing {
    padding: var(--sp-64) var(--sp-24) var(--sp-64) var(--sp-24);
  }
  .header-spacing {
    padding: var(--sp-20) var(--sp-24);
  }
  .main-box{
    padding: 64px 0 64px 0;
  }
  .footer-spacing {
    padding: var(--sp-64) var(--sp-24) var(--sp-32) var(--sp-24);
  }

  .section-sp-1 {
    padding: var(--sp-64) var(--sp-28);
  }
  .section-sp-2{
    padding: var(--sp-64) var(--sp-24) var(--sp-126) var(--sp-28);
  }
  .section-sp-3{
    padding: var(--sp-64) var(--sp-28) var(--sp-60) var(--sp-28);
  }
  .section-sp-top {
    padding: var(--sp-64) 0 0 0;
  }

  .section-sp-bottom {
    padding: 0 0 var(--sp-64) 0;
  }

  .hero-spacing {
    padding: 0 var(--sp-24) var(--sp-70) var(--sp-24);
  }
  .secondary-spacing {
    padding: 0 var(--sp-28) var(--sp-64) var(--sp-28);
  }
  .metric-spacing{
    padding: var(--sp-48) var(--sp-28);
  }
}
