@import "tailwindcss";
@import "../styles/typography.scss";
@import "../styles/variables.scss";
@import "../styles/buttons";
@import "../styles/schedule-a-consult";
@import "../styles/spacing";
@import "../styles/header";

body {
  font-family: "Times New Roman", Times, serif;
}

.arrowImg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
@media screen and (max-width: 850px) {
.heroTextRsp{
    flex-direction: column;
    gap: var(--sp-16);
  }
  .inprovementSection{
    flex-direction: column;
    gap: var(--sp-24);
    margin-top: var(--sp-40);
  }
  .inprovementSectionBtn{
    width: 100%;
    text-align: center
  }
}
