@import "tailwindcss";
@import "../styles/typography.scss";
@import "../styles/variables.scss";
@import "../styles/buttons";
@import "../styles/spacing";
@import "../styles/header";

body {
  font-family: "Times New Roman", Times, serif;
  max-width: 1550px;
  margin: 0 auto;   /* center */
}


.arrowImg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
  //Schedule a consult css

  /* Hero Section */
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-background {
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: absolute;
  left: 50px;
  bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Steps Section */
.steps-section {
  background: var(--color-background-3);
  width: 100%;
  color: white;
}

.steps-list {
  display: flex;
  flex-direction: column;
  margin-top: var(--sp-50);
 
}

.step-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 0.5px solid #FFFFFF;
  border-bottom: 0.5px solid #FFFFFF;
  padding: var(--sp-50) 0;
}

.step-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--sp-87) 0;
  width: 481px;
}

.step-content {
  display: flex;
  flex-direction: column;
  gap: var(--sp-56);
}

/* Responsive */
@media (max-width: 1024px) {
 
  .step-content-container {
    width: 100%;
    padding: var(--sp-33) 0;
   
  }
  .step-item{
    gap: var(--sp-51);
  }
}

@media (max-width: 768px) {
  .step-item {
    flex-direction: column;
    gap: var(--sp-16);
  }
  .step-content-container {
    width: 100%;
    padding: 0;
  }
  .hero-content {
    left: 20px;
  }
}


// page css

.stats-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stats-card {
  display: flex;
  flex-direction: column;
  gap: 56px;
  align-items: flex-start;
}

.stats-card-text {
  max-width: 213px;
  text-align: left;
}

/* Tablet — upto 1024px */
@media (max-width: 1024px) {
  .stats-section {
    align-items: center;
  }
}

/* Mobile — upto 768px */
@media (max-width: 768px) {
  .stats-section {
    flex-direction: column;
    gap: 60px;
  }

  .stats-card {
    gap: 24px;
    
  }

  
}

//services css
.service-head{
  display: flex;
  flex-direction: column;
  gap: 170px;
  width: 100%;
}
.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.service-item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 0;
  border-top: 0.5px solid #fff;
 
}

.service-desc {
  width: 420px;
  text-align: left;
}

@media (max-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .service-item {
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
  }

  .service-desc {
    width: 100%;
  }
  .service-head{
    gap:80px;
  }
}

@media (max-width: 640px) {
  .services-grid {
    grid-template-columns: 1fr;
  }

  .service-desc {
    width: 100%;
  }
  .service-head{
    gap:64px;
  }
 
}

.thiredSectionImageRsp{
  width: 100%;
}
.thiredSectionBgColor{
  background-color: var(--color-background-2);
}

@media screen and (max-width: 850px) {
.heroTextRsp{
    flex-direction: column;
    gap: var(--sp-16);
  }
  .inprovementSection{
    flex-direction: column;
    gap: var(--sp-24);
    margin-top: var(--sp-40);
  }
  .inprovementSectionBtn{
    width: 100%;
    text-align: center
  }
}
