@import "tailwindcss";
@import "../styles/typography.scss";
@import "../styles/variables.scss";
@import "../styles/buttons";
@import "../styles/spacing";

body {
  font-family: "Times New Roman", Times, serif;
}



.arrowImg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
